<html>
    <head>
        <title>app เก็บเงินออม</title>
    </head>
    <body>
        <h1>การหยอดเงินออม</h1>
        <form method = "POST">
            <input name = "money" id = "id_new_money" placeholder = "Enter a money" />
            {% csrf_token %}
        </form>

        <table id = "id_list_table_allmoney">
             <tr><td> ผลรวมเงินออม : {{ summoney }} บาท เฉลี่ยเงินออมต่อครั้ง : {{ avmoney }} บาท ฝากต่ำสุด :{{min}} บาท ฝากสูงสุด : {{max}} บาท</td></tr>
        </table>
        <br>
        <table id = "id_list_table_money">
            <tr>
                <td align="center" > เรียงตามเวลา <br>
                {% for money in allmoney %}
                    <br>ออมครั้งที่ {{ forloop.counter }}: {{ money.moneytoday }} บาท</br>
                {% endfor %}
                </td>          
                <td align="center" > เรียงจากน้อยไปมาก <br>
                {% for min in mintomax %}
                    <br> {{ min }} บาท</br>
                {% endfor %}
                </td>
                <td align="center" > เรียงจากมากไปน้อย <br>
                {% for max in maxtomin %}
                    <br> {{ max }} บาท</br>
                {% endfor %}
                </td>       
            </tr>
        </table>
    </body>
</html>
